.containerTitle{
    display: flex;
    justify-content: center;
    margin: 0 16rem;
}

.title{
    background-color: black;
    color: white;
    padding: 24px;
}

.containerList{
    display: flex;
    justify-content: center;
    border: 4px solid black;
    margin: 0 16rem;
}

.list{
    list-style: none;    
}





