



main{
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: gray;

}

.title {
    color: azure;
    background-color: black;
    background-clip: content-box;
    padding: 24px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
}

.list{
    border: 4px solid black;
    border-radius: 40px;
    width: 300px;
    text-align: center;
    list-style-type: none;
    padding: 24px;
}
